{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
  gtag('config', 'GA_MEASUREMENT_ID', {
    'page_title' : '{{ page.title | replace: "'", "\\'" }}',
    'page_path': '{{ site.baseurl }}{{ page.url }}'
});
</script>
<!-- End Google Analytics -->
{% endif %}
